*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: skyblue;
}


li{
    height: 100px;
    width: 200px;
    border: 1px solid;
    /* display: inline-block; */
}
#item1{
    position: relative;
    z-index: 20;
    
}
body{
    padding: 100px;
    
}
#item2{
    position: relative;
    top: 0;
    z-index: 30;
}
/*#item3{
    position: fixed;
    right: 0;
    bottom: 0;
    
}   */
a{
    border: 2px solid black;
    display: inline-block;
    width: 100%;
    opacity: 0;
    
}
ol{
    display: flex;
    /* wrap preseve original height width */
    flex-wrap: wrap; 
    row-gap: 120px;
    column-gap: 60px;
    justify-content: space-evenly;
    
    
}